* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1a1a2e;
}

header {
    padding: 1rem 2rem;
    color: #f5f5f5;
    border-bottom: 1px solid #2159a3;
}

header h2 {
    font-size: 1.8rem;
    color: #2684ff;
}

/* Parte principal */
main {
    margin-top: 3rem;
    text-align: center;
}

#form-task {
    padding: 2rem 1rem;
    max-width: 600px;
    margin: 0 auto;
    background-color: #2a2a4e;
    border-radius: 1rem;
}

#form-task h3 {
    margin-bottom: 1rem;
    text-align: center;
    color: #2684ff;
}

.box-input {
    color: #e2e2e2;

}

.box-input input,
select {
    width: 75%;
    margin-bottom: 1rem;
    background-color: #222;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    outline: none;
    color: #fff;
}

.box-input input::placeholder {
    color: #cacaca;
}

.box-input select option {
    color: #ffff;
}

.box-input label {
    display: block;
    font-size: 15px;
}


#btn-create {
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    background-color: #1567ff;
    font-weight: 600;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
}

#btn-create:hover {
    opacity: 1;
    transition: ease-in-out 0.1s;
}

/* cards  */

#container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    gap: 30px;
}

.box-card {
    padding: 2rem 2rem;
    max-width: 600px;
}

.box-card h3 {
    color: #f5f5f5;
}

.box-card .card {
    background-color: #242149;
    padding: 5rem 1.7rem;
    color: #fff;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
    height: auto;

}

/* DOM */
.task {
    background-color: #383838;
    padding: 1rem 1rem;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 15px;
}

.task h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.task .description {
    font-size: 1rem;
    color: #f5f5f5;
}

.task .priority-name {
    font-size: 0.8rem;
    font-weight: 600;
    max-width: 82px;
    text-align: center;
    padding: 0.2rem 0.4rem;
    border-radius: 20px;
    margin-top: 8px;
    color: #000;
    margin-bottom: 15px;
}

.task button {
    margin-left: 5px;
}

.task .btn-make {
    background-color: #2684ff;
    padding: 0.3rem 0.6rem;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    opacity: 0.9;
}

.task .delete {
    background-color: #fa0000;
    padding: 0.4rem 0.6rem;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.9;
}

.task .finish {
    background-color: #2684ff;
    padding: 0.3rem 0.6rem;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    opacity: 0.9;
}

.task .back-button, .back-button-mid {
    background-color: #00ff40;
    padding: 0.4rem 0.6rem;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.9;
}

.task .delete:hover,
.btn-make:hover {
    opacity: 1;
    transition: 0.2s ease-in;
}